* {
  font-family: 'Gilroy-Medium', sans-serif;
}

body {
  background-color:rgb(37,44,66);
  margin: 20px 0;
}

.container {
  max-width: 475px;
  background: #FFFFFF;
  border: 4px solid rgb(20, 23, 32);
  border-radius: 11px;
  box-sizing: border-box;
  padding: 24px;
  margin: 0 auto;
}

h2 {
  margin: 0 auto;
  color:rgb(37,44,66);
}

hr {
  border: none; 
  background-color: black;
  height: 2px;
}

.add-todo {
  display: flex;
  align-items: center;
}

.message {
  height: 50px;
  border: 2px solid #000000;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 18px;
}

input[type="text"]{
  width: 363px;
  padding-left: 10px;
  color: rgb(37,44,66);
}

.add-item {
  background-color: rgb(247,149,149);
  border: 2px solid rgb(37,44,66);
  border-radius: 8px;
  width: 46px;
  height: 43px;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: normal;
  font-size: 28px;
  margin: 0 auto;
}

.add-item:hover {
  background-color: rgb(253, 150, 150);
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: rgb(131, 121, 160);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.todo-task {
  color: rgb(76,65,107);
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-left: 5px;
}

.important {
  color: rgb(235, 81, 81);
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-left: 5px;
}

.trash {
  cursor: pointer;
  display: none;
  background: url(https://icons-for-free.com/iconfiles/png/512/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png) no-repeat;
  background-size: 19px;
  width: 28px;
  height: 28px;
  float: right;
  margin-top: 3px;
}

li:hover .trash {
  display: block;
}

.trash:hover {
  background: url(https://icons-for-free.com/iconfiles/png/512/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png) no-repeat;
  background-size: 20px;
  width: 28px;
  height: 28px;
  margin-top: 3px;
  float: right;
}
